{#
/**
 * Custom template for band page
 * 
 */
#}
<div class="social-icons">
  {{ content.field_social_icon_link }}
</div>
<article {{ attributes }}>
  {{ title_prefix }}
  <div class='content'>
    {{ title_suffix }}
    <div class='band_page__image'>
      {{ content.field_image }}
    </div>
  
    <div class='band-page-container'>
      <div
      {% if node.field_black_description.value %}
        class='description-container-black'
      {% else %}
        class='description-container-white'
      {% endif %}>
        <h1 class='band-heading'>
          {{ content.field_band_heading }}
        </h1>
        <p class='band-description'>
          {{ content.body }}
        </p>
        {# embedded videos #}
        <div class="band-videos">
          {{ content.field_youtube_embedded }}
        </div>
      </div>
    </div>
  </div>
</article>
