{#
/**
 * Custom template for band page
 * 
 */
#}
<div class="social-icons">
  {{ content.field_social_icon_link }}
</div>
<article {{ attributes }}>
  <header>
    <div {{ attributes }} ></div>
  </header>
  <div class='content'>
    <div class='band_page__image'>
      {{ content.field_image }}
    </div>
  
    <div class='band-page-container'>
      <div class='description-container-black'>
        <h1 class='band-heading'>
          {{ content.field_band_heading }}
        </h1>
        <p class='band-description'>
          {{ content.body }}
        </p>
        {# embedded videos #}
        {{ content.field_youtube_embedded }}
      </div>
    </div>
  </div>
</article>
